<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Vesti"/>
                <binding name="Adresar"/>
                <binding name="Adresar1"/>
                <binding name="Adresar2"/>
                <binding name="Adresar3"/>
                <binding name="Adresar4"/>
                <binding name="Adresar5"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WCF_informator/vesti" binding="basicHttpBinding" bindingConfiguration="Vesti" contract="InformatorServis.IVesti" name="Vesti"/>
            <endpoint address="http://localhost:8733/WCF_informator/adresar" binding="basicHttpBinding" bindingConfiguration="Adresar" contract="InformatorServis.IAdresar" name="Adresar"/>
            <endpoint address="http://localhost:8733/WCF_informator/info_za_uplate" binding="basicHttpBinding" bindingConfiguration="Adresar1" contract="InformatorServis.IInfoZaUplate" name="Adresar1"/>
            <endpoint address="http://localhost:8733/WCF_informator/knjiga_utisaka" binding="basicHttpBinding" bindingConfiguration="Adresar2" contract="InformatorServis.IKnjigaUtisaka" name="Adresar2"/>
            <endpoint address="http://localhost:8733/WCF_informator/nastava_i_vezbe" binding="basicHttpBinding" bindingConfiguration="Adresar3" contract="InformatorServis.INastavaIvezbe" name="Adresar3"/>
            <endpoint address="http://localhost:8733/WCF_informator/predmeti" binding="basicHttpBinding" bindingConfiguration="Adresar4" contract="InformatorServis.IPredmeti" name="Adresar4"/>
            <endpoint address="http://localhost:8733/WCF_informator/rezultati_ispita" binding="basicHttpBinding" bindingConfiguration="Adresar5" contract="InformatorServis.IRezultatiIspita" name="Adresar5"/>
        </client>
    </system.serviceModel>
</configuration>
